services:
  app:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - ./.env
    depends_on:
      migrator:
        condition: service_completed_successfully
      db:
        condition: service_healthy
    
  migrator:
    build:
      dockerfile: ./Migrator.dockerfile
    env_file:
      - ./.env
    depends_on:
      db:
        condition: service_healthy

  db: 
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: todos
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 3s
      retries: 5

volumes:
  postgres: