name: MAIN-CI

on: 
  pull_request:
    types: [opened, synchronize, reopened]
  issue_comment:
    types: [created]
  
jobs:
  unit-tests:
    if: github.event_name == 'pull_request' || (github.event_name == 'issue_comment' && github.event.issue.pull_request)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run unit tests
        run: pnpm install --frozen-lockfile && pnpm tests